

.container {
    display: flex;
    flex-direction: row;

    .ch {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        
        .title {
            font-family: 'bold';
            font-size: 32px;
            width: 415px;
            padding-left: 5px;
        }
    }
}
