@use '@/styles/constants/colors.scss' as colors;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    input {
        width: 225px;
        height: 30px;
        border-radius: 5px;
        border: solid 1px colors.$gray4;
    }
    
    button {
        width: 225px;
        height: 30px;
        background-color: colors.$blue5;
        border: transparent;
        border-radius: 5px;
        color: colors.$white;
        font-size: 16px;
        font-family: 'medium';
    }
}