@use '@/styles/constants/colors.scss' as colors;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    .inputContainer {
        position: relative;
        z-index: 5;

            input {
                width: 225px;
                height: 30px;
                border-radius: 5px;
                border: solid 1px colors.$gray4;
                padding: 0 10PX;
            }

            img {
                width: 15px;
                height: 15px;
                position: absolute;
                right: 10px;
                top:8px;
                z-index:10;
            }


    }
    
    button {
        width: 225px;
        height: 30px;
        background-color: colors.$blue5;
        border: transparent;
        border-radius: 5px;
        color: colors.$white;
        font-size: 16px;
        font-family: 'medium';
    }

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'regular';
        font-size: 12px;
        color:colors.$red;
    }
}