@use '@/styles/constants/colors.scss' as colors;

.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    gap:10px;
    align-items: center;
    z-index: 9999;
    width: 320px;
    height: fit-content;
    background-color: colors.$white;
    border-radius: 5px;

    .title {
        font-size: 16px;
        font-family: 'semibold';
        color: colors.$gray8;
        background-color: transparent;
        border: solid 0;
        padding: 10px;
    }

    input {
        width: 210px;
        height: 30px;
        border: solid 1px colors.$gray4;
        background-color: colors.$white;
    }

    .error {
        color:colors.$red;
        font-family: 'regular';
        font-size: 10px;
        border: solid 0;
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        border: solid 0;
        gap: 10px;

        .changeButton {
            width: 100px;
            height: 30px;
            border-radius: 5px;
            border: solid 0;
            background-color: colors.$blue4;
            color:colors.$white;
            font-family: 'medium';
            font-size: 12px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    
        .closeButton {
            width: 100px;
            height: 30px;
            border-radius: 5px;
            border: solid 0;
            background-color: colors.$gray5;
            color:colors.$white;
            font-family: 'medium';
            font-size: 12px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }

}