@use './../../styles/constants/colors.scss' as colors;

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: fit-content;

    input {
        width: 137px;
        height: 30px;
        border-radius: 5px;
        border: 0;
        background-color: colors.$white;
        display: flex;
        text-align: center;
        font-size: 16px;
        font-family: 'regular';
        color: colors.$gray6;

        &::placeholder {
            font-size: 16px;
            font-family: 'medium';
            color: colors.$gray5;
        }

        &:hover {
            border-color: colors.$gray5;
        }
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: solid 1px colors.$gray4;
    }

    .no {
        width: 52px;
        height: 100%;
    }

    .name {
        width: 150px;
        height: 100%;
    }

    .id {
        width: 170px;
        height: 100%;
    }

    .password {
        width: 185px;
        height: 100%;
    }

    .phoneNumber {
        width: 190px;
        height: 100%;
    }

    .date {
        width: 170px;
        height: 100%;
    }

    .blank {
        width: 90px;
        height: 100%;
    }
}

.isColumnName {
    background-color: colors.$gray2;
    font-family: 'semibold';
    font-size: 20px;
    color: colors.$gray7;
}

.isTableItem {
    background-color: colors.$white;
    font-family: 'regular';
    font-size: 16px;
    color: colors.$gray6
}

.isTableInput {
    background-color: colors.$gray1;
    font-family: 'regular';
    font-size: 16px;
    color: colors.$gray6;
}