@use "@/styles/constants/colors.scss" as colors;

.cctv-form-container {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  .header{
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 40px 0;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.location-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 컨테이너 자체는 가운데 정렬 */
  width: 466px;
  box-sizing: border-box;
  gap: 10px;

  .label{
      width: 70px;
      height: 30px;
      box-sizing: border-box;
      font-size: 12px;
      color: colors.$black;
      font-family: 'medium';
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 5px;
      padding-right: 15px;
  }

  .location-button {
    font-family: 'medium';
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    width: 466px; /* 너비를 auto로 설정하여 버튼들이 필요한 만큼만 차지 */
    height: auto;
  }
}

.double {
  display: flex;
  gap: 5px;
}

.submit{
position: absolute;
bottom: 50px;
right: 30px;
display: flex;
flex-direction: column;
align-items: flex-end;
z-index: 1;
.message{
  font-size: 12px;
  font-family: 'medium';
  margin-bottom: 5px;
  
}
}

.red {
  color: colors.$redDelte;
}
.blue{
  color:colors.$blue5
}